.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -5px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 80px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
 
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " Insert your logo. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


.avatar-hover{
    padding: 8px;
    transition: 0.2s;
}

.avatar-hover:hover{
    background-color: #83d1d8;
    cursor: pointer;
}

.avatar-background{
    background-color: #96ebdd;
}

.avatar-background2{
    background-color: #96ebdd;
}


.employee{
    padding: 10px 30px;
    min-width: 20% ;
    font-size: 17px;
    background-color: white;
    border-radius: 8px;
    border: none;
    transition: 0.4s;
}

.employee:hover{
    background-color: #5ed2bd;
}

.employee-background{
    background-color: #96ebdd ;
}


.text-hover:hover ~ .avatar-hover{
    background-color: #83d1d8;
}

.skip-step{
    display: none;
}


@media screen and (max-width: 668px) {
    .files input{
        padding-left: 20%;
    }
    .skip-step{
        display: block;
        margin: 0;
        padding: 0;
    }
    .skip-step-hide{
        display: none;
    }
    .employee{
        min-width: 42%;
    }
}